#I copypasted this file hoping for the best, will clean it up later on


# .gitignore

#***to use only in development mode***
#Ignore static files, needed to store css,and images used by the website(favicons,logos etc)
/static/
/core/static/               
#ignore media, stores user uploaded files should be created automatically when succesfully starting a new Thread or adding a Post
/uploads/

# Ignore Django migration files, should be created automatically after running migrations for the first time
core/migrations/
# Virtual Environment
vEnv/

# Python
*.pyc
*.pyo
__pycache__/
*.pyc


# IDE settings
.idea/

# Database
*.sqlite3

# Compiled Python files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
