{% extends './board_page_common.html' %}
{% load static %}
{% block board_layout_style%}
<link rel="stylesheet" type="text/css" href="{% static 'core/scroll.css' %}">
{% endblock board_layout_style%}

{% block page_content %}
    <header>
        {% include "./navbar.html" %}
    </header>

    {% block form_section %}
        {% include "./thread_form.html" %}
        <hr>
    {% endblock form_section %}

    {% block thread_section_menu %}
        [<a href="{% url 'board_page_cat' board.name %}">
            Catalog mode
        </a>]
    {% endblock thread_section_menu %}
    <hr>

    {% block thread_section %}
        {% block custom_js %}
            <!-- Function to shrink/expand images on click -->
            <script>
                function toggleImage(element) {
                    element.classList.toggle('expanded');
                }
            </script>
        {% endblock custom_js %}

        {% for thread in threads %}
            <div class="thread">
                {% include "./thread_infos.html" %}
            </div>
            <hr>
        {% endfor %}
    {% endblock thread_section %}
{% endblock page_content %}


