{% extends './board_page_common.html' %}
{% load static %}
{% block board_layout_style%}
<link rel="stylesheet" type="text/css" href="{% static 'core/catalog.css' %}">
{% endblock board_layout_style%}


<!--html before is identical to the scrollmode-->
{% block thread_section_menu %}[
    <a href="{% url 'board_page' board.name %}">
        Scroll mode
    </a>]
    Sort by:    <select id="order-ctrl" size="1" onchange="changeOrder()">
                    <option value="creation_date"{% if current_sort == 'creation_date' %}selected{% endif %}
                    >Creation date</option>
                    <option value="last_reply"{% if current_sort == 'last_reply' %}selected{% endif %}
                    >Last reply</option>
                    <option value="reply_count"{% if current_sort == 'reply_count' %}selected{% endif %}
                    >Reply Count</option>
                </select>
{% endblock thread_section_menu %}
{% block thread_section %}
{% block custom_js%}
    <script>
        function changeOrder() {
            const sortOption = document.getElementById('order-ctrl').value;
            window.location.href = `{% url 'board_page_cat' board.name %}?order_by=${sortOption}`;
        }
    </script>
{% endblock custom_js%}
    <div class="thread-section">
        {% for thread in threads %}
            <div class="thread">
                {% if thread.file_uploaded %}
                <a href="{% url 'single_thread' board.name thread.id %}"><img class="thumbnail" src="{{ thread.file_uploaded.url }}" alt="Thread Thumbnail"></a>
                {% endif %}
                <div class="thread-stats" title="(R)eplies & (I)mages">R:<b>{{ thread.num_replies}}</b>    I:<b>{{thread.num_images}}</b></div>
                <div class="teaser">{{thread.content}}</div>
            </div>
        {% endfor %}
    </div>
{% endblock thread_section %}




