{% extends 'base.html' %}
{% load static %}

{% block home_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/home.css' %}">
{% endblock home_style %}

{% block page_content %}
   

    <div class="container">
        <header>
            <img src="{% static 'core/DjangoChan.svg' %}" alt="DjangoChanLogo">
        </header>
        <section class="about">
            <div class="box">
                <div class="box-bar">What is DjangoChan?</div>
                <div class="box-text">
                    DjangoChan is a simple image-based bulletin board where anyone can post comments and share images.
                    Its aim is to be a *chan web app with a modern look and feel. However, I'm clearly failing, so I'll try
                    to have it be at least a functional prototype first.
                </div>
            </div>
        </section>

        <section class="boards">
            <div class="box">
                <div class="box-bar">Boards:</div>
                <div class="box-text">
                    {% for board in boards %}
                        <ul><a href="{% url 'board_page_cat' board.name %}">{{board.name}}</a></ul>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="popular-threads">
            <div class="box">
                <div class="box-bar">Popular threads:</div>
                <div class="box-text">To be implemented</div>
            </div>
        </section>

        <section class="stats">
            <div class="box">
                <div class="box-bar">Stats (To be implemented)</div>
                <div class="box-text">Total Threads & Posts created: ...  Active Content: ...GB</div>
            </div>
        </section>
    </main>
{% endblock page_content %}

