
<style>
    .thread_form_post{
        margin-left:auto;
        margin-right:auto;
        max-width: 100vh;
        min-width: 33%;
    }
    .error-message {
        color: red;
    }
</style>

<form method="post" enctype="multipart/form-data" class="thread_form_post">
    <h2>Add Reply to thread No.{{thread.id}}</h2>
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="{{ form.username.id_for_label }}">Username:</label></td>
            <td>{{ form.username }}<input type="submit" value="Post"></td>
        </tr>
        <tr>
            <td><label for="{{ form.content.id_for_label }}">Comment:</label></td>
            <td>{{ form.content }}</td>
        </tr>
        <tr>
          <td><label for="{{ form.file_uploaded.id_for_label }}">File:</label></td>
          <td>{{ form.file_uploaded }}</td>
        </tr>
    </table>
</form>
{% if form.errors %}
    <div class="error-message">
        <strong>Error:</strong>
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}