{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/form.css' %}">

<form method="post" enctype="multipart/form-data" class="new_form" id="new_post_form">
    <h2>Add Reply to thread No.{{thread.id}}</h2>
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="{{ form.username.id_for_label }}">Username:</label></td>
            <td>{{ form.username }}<input type="submit" value="Post"></td>
        </tr>
        <tr>
            <td><label for="{{ form.content.id_for_label }}">Comment:</label></td>
            <td>{{ form.content }}</td>
        </tr>
        <tr>
          <td><label for="{{ form.file_uploaded.id_for_label }}">File:</label></td>
          <td>{{ form.file_uploaded }}</td>
        </tr>
    </table>
</form>
{% if form.errors %}
    <div class="error-message">
        <strong>Error:</strong>
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}