<!-- thread_info -->
{% load static %}
<div class="wrapper" id="thread-wrapper">
    <div class="info">
        {% if thread.file_uploaded %}
        <div class="file">
            <div class="media-container">
                <img class="media-image" src="{{ thread.file_uploaded.url }}" alt="Thread Image"
                    onclick="toggleImage(this)">
            </div>
        </div>
        {% endif %}

        {% if user_idcookie == thread.idcookie %}

            <a href="{% url 'delete_post' thread.id %}" class="delete-btn" onclick="return confirm('Are you sure you want to delete this post?');">
            <img src="{% static 'core/delete.svg' %}" alt="Delete button" class="delete-btn"> 
            </a>
        {% endif %}
        <span class="username">{{ thread.username }}{% if user_idcookie == thread.idcookie %} [You] {% endif %}</span>
        <span class="timestamp">{{ thread.created_at|date:"(D) d/m/Y H:i" }}</span>
        <span class="quick_reply">[<a href="{% url 'single_thread' board.name thread.id %}">Reply</a>]</span>
        <span class="quick_reply"><a href="{% url 'single_thread' board.name thread.id %}">No.{{ thread.id }}</a></span>

        
    </div>
    <div class="content">
        <p>{{ thread.content|safe }}</p>
        {% if thread.replies.all %}
            {% include "./thread_replies.html" %}
        {% endif %}
    </div>
</div>
