<!-- thread_info -->
{% load file_filters %}
<div class="wrapper" id="thread-wrapper">
    <div class="info">
        {% if thread.file_uploaded %}
        <div class="file">
            <div class="media-container">
                <img class="media-image" src="{{ thread.file_uploaded.url }}" alt="Thread Image"
                    onclick="toggleImage(this)">
            </div>
        </div>
        {% endif %}
        <!-- If thread's idcookie equal user's, create delete button-->
        <span class="delete-post-btn">[X]</span>

        <span class="username">{{ thread.username }}{% if request.COOKIES.idcookie == reply.idcookie %} [You] {% endif %}</span>
        <span class="timestamp">{{ thread.created_at|date:"(D) d/m/Y H:i" }}</span>
        <span class="quick_reply">[<a href="{% url 'single_thread' board.name thread.id %}">Reply</a>]</span>
        <span class="quick_reply"><a href="{% url 'single_thread' board.name thread.id %}">No.{{ thread.id }}</a></span>

        
    </div>
    <div class="content">
        <p>{{ thread.content }}</p>
        {% if thread.replies.all %}
            {% include "./thread_replies.html" %}
        {% endif %}
    </div>
</div>
