


<form method="post" enctype="multipart/form-data" class="thread_form">
    {% csrf_token %}
    <table>
        <input type="hidden" name="board" value="{{ board }}">
        <tr>
            <td><label for="{{ form.username.id_for_label }}">Username:</label></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td><label for="{{ form.title.id_for_label }}">Title:</label></td>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Post"></td>
          </tr>
        <tr>
            <td><label for="{{ form.content.id_for_label }}">Comment:</label></td>
            <td>{{ form.content }}</td>
        </tr>
        <tr>
          <td><label for="{{ form.file_uploaded.id_for_label }}">File:</label></td>
          <td>{{ form.file_uploaded }}</td>
        </tr>
    </table>
</form>
