<!-- templates/base.html -->
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}DjangoChan{% endblock title %}</title>
    {% block home_style%}
    {% endblock home_style%}<!--this solution is in way the recommended approach bruh-->
    {% block board_layout_style%}<!--this solution is in way the recommended approach bruh-->
    {% endblock board_layout_style%}
</head>
<body>
    {% block page_content %}
    {% endblock page_content %}
</body>
</html>
