<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>{% block title %}DjangoChan{% endblock title %}</title>
    <style>
        body {
            font-family: "Roboto",arial,helvetica,sans-serif;
            color: #e5e5e5;
            background-color: #1D1F21;
        }
    </style>

   
    {% block custom_styles %}{% endblock custom_styles %}
</head>
<body>
{% block page_content %}{% endblock page_content %}
</body>
</html>
